@charset "utf-8";
 
*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-image: linear-gradient(to right, #f2d9c5bb, #F6C8B8 );
}
main {
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #b87272;
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1 {
    color: #909B71;
    text-align: center;
    text-shadow: 1px 1px 2px #2d6636c2;
}

h2{
    color: #F69C9E
}
p {
    text-align: justify;

}